.container .content-sup .header {
    text-align: center
}

.container .content-sup .header .author {
    text-align: right;
}

.container .content-sup .body .img-first {
    text-align: center;
    margin: 10px 0px 10px 0px
}

.container .content-sup .header {}